#mocks
/01-mocks/node_modules

#stubs
/02-stubs/node_modules

#spies
/03-spies/node_modules

#coverage e2e
/04-coverage-e2e/node_modules
/04-coverage-e2e/.nyc_output
/04-coverage-e2e/coverage

#coverage e2e
/05-tdd-project/node_modules
/05-tdd-project/databases/*.json
/05-tdd-project/.nyc_output
/05-tdd-project/coverage